#map {
    height: 85vh;
}

#map-container {
    position: relative;
}

#search-container {
    position: absolute;
    top: 15%;
    left: 10px;
    z-index: 30000;
    background-color: 	rgb(255,222,173, 0.3);
    /* the height container, depending on its content, can be more than 25px. 
    But when it has no content, it has to be 25px */
    height: 10px; 
    width: 330px; 
    padding-top: 2px;
    padding-left: 2px;
    display: none;
}

#results {
    max-height: 300px;
    overflow-y: scroll;
    background-color: rgb(255,222,173, 0.5);
    width: 240px;

}

.search-result {
    margin: 2px;
}

.dropdown {
    width: 25px;
}

#btnToggleSearch {
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 300000;
}

.popup{
    overflow: scroll;
    width:300px;
    height:300px;
}

@media (min-width: 768px) {
    /* because the div is a block-level element, so we use display: block */
    #search-container {
        display: block; 
        left: 1%;
    }

    #btnToggleSearch {
        display: none;
        position: center;
    }

    #searchTerms {
        min-width: 240px;
        height: 40px;

    footer { /* empty */  }

}

.btnDropdown {
    background-color: rgb(0, 195, 255);
    font-weight: bold;
    font-size: 16px;
    position: left;
    color: whitesmoke;
    border: 1px solid;
    padding: 10px;
    box-shadow: 4px;
    width: 240px;
} 
