#map {
    height: 90vh;
}

#map-container {
    position: relative;
}

#search-container {
    position: absolute;
    top: 15%;
    left: 10px;
    z-index: 30000;
    background-color:rgb(255,222,173, 0.3);
    height: 10px; 
    width: 350px; 
    padding-top: 2px;
    padding-left: 2px;
    display: none;
}

#results {
    max-height: 180px;
    overflow-y: scroll;
    background-color: rgb(210, 210, 210,0.3); 
    width: 240px;    
}

.search-result {
    margin: 2px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.dropdown {
    width: 25px;
}

#btnToggleSearch {
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 300000;
}

.popup{
    overflow: scroll;
    width:300px;
    height:300px;
}

@media (min-width: 768px) {
    /* because the div is a block-level element, so we use display: block */
    #search-container {
        display: block; 
        left: 1%;
    }

    #btnToggleSearch {
        /*display: none;*/
        visibility: hidden;
        position: center;
        color: blue;
        
    }

    #searchTerms {
        min-width: 240px;
        height: 40px;
    }
}

.btnDropdown {
    background-color: rgb(0, 195, 255);
    font-weight: bold;
    font-size: 18px;
    position: right;
    color: whitesmoke;
    border: 10px solid;
    padding: 10px;
    box-shadow: 4px;
    width: 240px;
} 

/* leftlet */
.leaflet-popup-tip-container {
	width: 40px;
	height: 80px;
	}

.leaflet-popup-content {
    margin: 13px 24px 13px 20px;
    line-height: 1.3;
    font-size: 18px;
    font-size: 1.08333em;
    min-height: 1px;
    }   
    
.fa fa-tripadvisor {
    font-size:48px;
    color:blue";
    }